.root{
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
}
.alertSection{
  width:fit-content;
}
.alertClear{
  position: relative;
  left: 20px;
  cursor: pointer;
}
.diceW{
  width: 70px;
}
.remark{
  position: relative;
  top:10px;
}
.parent{
  color: #15172b;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  max-width: 90vw;
  box-shadow: 2px 2px 40px rgb(152, 144, 144);
}
.list{
  list-style-type:lower-greek;
}
.diceIcon{
  cursor:pointer
}
.winnerShadow{
  width: 110px;
}
.myScore{
  border-bottom:2px dashed whitesmoke ;
}
.scoreSection{
  width: fit-content;
  padding: 2px 10px;
}
.buttonSection{
  display: flex;
  justify-content: space-between;
}
.rulesModal{
  background-color:rgb(4,4,33);
  margin-top: 25vh;
  width: fit-content;
  max-width: 80vw;
  border-radius: 9px;
  padding: 12px 3px;
}
.scoreModal{
  background-color:rgb(4,4,33);
  margin-top: 30vh;
  width: fit-content;
  max-width: 80vw;
  border-radius: 9px;
  padding: 12px;
}
.restartModal{
  background-color:rgb(4,4,33);
  margin-top: 33vh;
  width: fit-content;
  max-width: 80vw;
  border-radius: 9px;
  padding: 12px 3px;
}
.restart{
  position:relative;
  right: 40px;
}
.rules{
  left: 30px;
  position: relative;
}
.modalParent{
  width: 100vw;
  height: 100vh;
  position:fixed;
  background-color: rgb(190, 181, 181);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}
@media(max-width:390px){
  .rules{
    position:relative;
    left: -9px;
  }
}
